
body {
  --tile-min-width: 20px;
  --tile-max-width: 50px;
  --tile-gap: 3px;
  --dragons-title-width: 80px;
  --title-margin: 10px;
  text-align: center;
  padding-bottom: 100px;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-size: 12.5pt;
}

h2 {
  margin-top: 60px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none !important;
}

.body-wrap {
  margin: auto;
  max-width: 650px;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--tile-gap);
  margin: 10px 0;
}

.title {
  flex-basis: calc(1.8 * var(--tile-max-width));
  display: flex;
  justify-content: right;
  text-align: right;
}
.title h4 {
  margin: 0 var(--title-margin) 0 0;
  align-self: center;
}

.dragons-title {
  flex-basis: var(--dragons-title-width);
}

.middle-title {
  flex-basis: unset;
  justify-content: center;
  text-align: center;
}
.middle-title h4 {
  margin: 0 var(--title-margin);
}

.tile {
  min-width: var(--tile-min-width);
  max-width: var(--tile-max-width);
  flex-basis: var(--tile-min-width);
  flex-grow: 1;
  flex-shrink: 1;
}

.spacer {
  min-width: 0;
  max-width: calc(2 * var(--tile-max-width) + 3 * var(--tile-gap) - var(--dragons-title-width) - var(--title-margin));
  flex-basis: 0;
}

.tile-group {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: var(--tile-min-width);
  max-width: var(--tile-max-width);
  flex-basis: var(--tile-min-width);
  background-image: url(tiles/Blank.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  aspect-ratio: 210 / 255;
}
.tile-group span {
  font-size: 80%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 8% 12.5% 1% 1%;
  align-self: center;
}
.tile-group .small-tile-text {
  font-size: 70%;
}

.meld {
  min-width: calc(509/210 * var(--tile-min-width));
  max-width: calc(509/210 * var(--tile-max-width));
  flex-basis: calc(509/210 * var(--tile-min-width));
  background-image: url(tiles/Meld.svg);
  aspect-ratio: 509 / 255;
}
.meld span {
  padding-right: 5%;
}

.meldKong {
  min-width: calc(659/210 * var(--tile-min-width));
  max-width: calc(659/210 * var(--tile-max-width));
  flex-basis: calc(659/210 * var(--tile-min-width));
  background-image: url(tiles/MeldKong.svg);
  aspect-ratio: 659 / 255;
}
.meldKong span {
  padding-right: 2%;
}

.pair {
  min-width: calc(360/210 * var(--tile-min-width));
  max-width: calc(360/210 * var(--tile-max-width));
  flex-basis: calc(360/210 * var(--tile-min-width));
  background-image: url(tiles/Eye.svg);
  aspect-ratio: 360 / 255;
}
.pair span {
  padding-right: 7%;
}

.meldFU {
  min-width: calc(634/210 * var(--tile-min-width));
  max-width: calc(634/210 * var(--tile-max-width));
  flex-basis: calc(634/210 * var(--tile-min-width));
  background-image: url(tiles/MeldFU.svg);
  aspect-ratio: 634 / 255;
}
.meldFU span {
  padding-top: unset;
  padding-bottom: 6%;
  padding-right: 6%;
}

.meldFUKong {
  min-width: calc(762/210 * var(--tile-min-width));
  max-width: calc(762/210 * var(--tile-max-width));
  flex-basis: calc(762/210 * var(--tile-min-width));
  background-image: url(tiles/MeldFUKong.svg);
  aspect-ratio: 762 / 255;
}
.meldFUKong span {
  padding-top: unset;
  padding-bottom: 6%;
  padding-right: 2%;
}

.meldFDKong {
  min-width: calc(762/210 * var(--tile-min-width));
  max-width: calc(762/210 * var(--tile-max-width));
  flex-basis: calc(762/210 * var(--tile-min-width));
  background-image: url(tiles/MeldFDKong.svg);
  aspect-ratio: 762 / 255;
}
.meldFDKong span {
  padding-top: unset;
  padding-bottom: 6%;
  padding-right: 2%;
}

.callout {
  margin-left: 8px;
  margin-right: 8px;
  align-self: center;
}

.explanation {
  margin: 22px auto;
  max-width: 87%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  top: 100%;
  left: 50%;
  margin-left: -70px;
  background-color: white;
  text-align: center;
  padding: 2px 5px;
  border-radius: 6px;
  border: solid;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

table {
  margin: auto;
  border-collapse: collapse;
}
table td, table th {
  padding: 2px 6px;
  text-align: left;
  border: 1px solid black;
  border-bottom: 0;
}
table tr:first-child th {
  border-top: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.td-type {
  text-align: center;
  max-width: 60px;
}
.td-value {
  text-align: center;
}
.td-long {
  max-width: 0;
}

/* Custom <select> */

.selectContainer {
  height: 25px;
  /* border: 1px solid #111; */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #DDD;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  position: relative;
  margin-top: 1px;
  margin-bottom: 1px;
  /* Source: https://stackoverflow.com/a/42087251 */
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: top 50% right 1px;
}
.selectContainer:hover,
.selectContainer:focus {
  box-shadow: 0 0 2pt 1pt #6AF;
  /* # outline: 2px solid #6AF; */
}
.selectContainer select {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  height: 23px;
  padding-left: 5px;
  font-family: bitter, serif;
  font-size: 85%;
}
#titleSelectContainer {
  margin-left: 5px;
  width: 43px;
}
#titleSelectContainer select {
  width: 43px;
}
